body, html {
  scroll-behavior: smooth;
  color: white;
  background-color: rgb(14, 13, 13);
}

#top {
  right: 30px;
  bottom: 20px;
  position: fixed;
  display: none;
  font-size: 40px;
  border-radius: 50%;
  color: white;
  background: #006eff;
}
#top a {
  color: white;
}

a {
  color: white;
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 99999999999;
  position: fixed;
  background-color: #006eff;
  font-size: 20px;
  font-family: sans-serif;
}
.menu .fa-regular {
  font-size: 30px;
  cursor: pointer;
}

.nav {
  display: flex;
  background-color: rgba(0, 110, 255, 0);
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-evenly;
  align-items: center;
}
.nav .fa-solid {
  font-size: 40px;
  cursor: pointer;
}
.nav .fa-solid:hover {
  font-size: 45px;
}
.nav img {
  width: 90px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
}

.home, .history, .games {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  font-family: sans-serif;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/800/659/696/ezio-assassin-s-creed-fan-art-4k-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
}
.home h1::before, .history h1::before, .games h1::before {
  content: '"';
  padding: 10px;
}
.home h1::after, .history h1::after, .games h1::after {
  content: '"';
  padding: 10px;
}
.home h3::before, .history h3::before, .games h3::before {
  content: "-";
  padding: 5px;
}

.history, .games {
  margin-top: 2%;
  color: #006eff;
  background-image: url(https://www.teahub.io/photos/full/192-1922242_background-assassins-creed-brotherhood.jpg);
}

.games {
  color: white;
  background-image: url(https://cdn.wallpapersafari.com/85/74/xvJbNt.jpg);
}
.games button {
  font-size: 30px;
  font-family: sans-serif;
  background: #006eff;
  color: white;
  border-radius: 50px;
  border: 1px solid black;
  padding: 10px;
}

.about {
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  box-shadow: 0px 0px 33px 1px rgb(224, 217, 224);
  margin-top: 5%;
}
.about img {
  border-radius: 50%;
}
.about h1 {
  font-size: 30px;
}
.about h3 {
  font-size: 20px;
  font-family: monospace;
}
.about .social {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px;
  width: 100%;
  font-size: 25px;
}
.about .social .fa-brands {
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  h1 {
    color: white;
    font-size: 16px;
    text-align: center;
  }
  h3 {
    font-size: 13px;
  }
  .history h1, .games h1 {
    color: #006eff;
  }
  .about {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav i {
    font-size: 20px;
  }
  .nav img {
    width: 70px;
  }
}/*# sourceMappingURL=style.css.map */