$color1: rgb(0, 110, 255);
$colorBg: rgb(14, 13, 13);

@mixin flexCenter($num) {
    height: $num;

    display: flex;
    justify-content: center;
    align-items: center;
}

body, html{
    scroll-behavior: smooth;

    color: white    ;
    background-color: $colorBg;
}

#top{
    right: 30px;
    bottom: 20px;

    position: fixed;
    display: none;

    font-size: 40px;

    border-radius: 50%;

    color: white;
    background: $color1;

    a{
        color: white;
    }
}

a{
    color: white;
}

.nav{
    display: flex;

    background-color: rgba(0, 110, 255, 0);

    position: fixed;
    width: 100%;
    top: 0;

    justify-content: space-evenly;
    align-items: center;

    i{
        font-size: 40px;

        cursor: pointer;
        &:hover{
            font-size: 45px;
        }
    }
    img{
        width: 90px;
        height: 80px;

        margin: 10px;
        border-radius: 50%;
    }
}

.home{
    @include flexCenter(80vh);
    flex-direction: column;

    margin-top: 2%;
    
    font-family: sans-serif;
    
    background-image: url(https://c4.wallpaperflare.com/wallpaper/800/659/696/ezio-assassin-s-creed-fan-art-4k-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    h1{
        &::before{
            content: '"';
            padding: 10px;
        }
        &::after{
            content: '"';
            padding: 10px;
        }
    }

    h3{
        &::before{
            content: '-';
            padding: 5px;
        }
    }
}

.history{
    @extend .home;
    margin-top: 2%;

    background-image: url(https://www.teahub.io/photos/full/192-1922242_background-assassins-creed-brotherhood.jpg);
}

.games{
    @extend .history;

    background-image: url(https://cdn.wallpapersafari.com/85/74/xvJbNt.jpg);

    button{
        font-size: 30px;
        font-family: sans-serif;

        background: $color1;
        color: white;
        
        border-radius: 50px;
        border: 1px solid black;

        padding: 10px;
    }
} 

.about{
    @include flexCenter(60vh);

    flex-direction: column;

    font-family: sans-serif;

    -webkit-box-shadow: 0px 0px 33px 1px rgba(224,217,224,1);
    -moz-box-shadow: 0px 0px 33px 1px rgba(224,217,224,1);
    box-shadow: 0px 0px 33px 1px rgba(224,217,224,1);

    margin-top: 5%;
    img{
        border-radius: 50%;
    }

    h1{
        font-size: 30px;
    }

    .social{
        display: flex;
        justify-content: space-evenly;

        width: 100%;

        font-size: 25px;

        .fa-brands{
            font-size: 40px;
        }
    }
}